NEXT_PUBLIC_URL_ENDPOINT=https://ik.imagekit
IMAGEKIT_PUBLIC_KEY=public
IMAGEKIT_PRIVATE_KEY=private
DATABASE_URL="mysql://
#Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test
CLERK_SECRET_KEY=sk_test_
# webhooks
SIGNING_SECRET=whsec_
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
